body {
    margin: 0;
    padding: 0;
    font-family: 'Liberation Serif', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0s, color 4s ease;
    overflow-x: hidden;
}

header {
    padding: 20px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
    width: 100%;
}

h1 {
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    border: 1px solid;
    transition: none;
}

section {
    width: 80%;
    max-width: 900px;
    padding: 40px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    transition: none;
}

ul li {
    margin-bottom: 15px;
}

a {
    transition: color 3s ease;
    text-decoration: underline;
}

.blog-post-header {
    font-size: 18px;
    font-weight: bold;
}

#toggle-theme {
    position: fixed;
    z-index: 9999;
    top: 50px;
    right: 5px;
    border: none;
    cursor: pointer;
    background: none;
    font-family: 'Venetta', monospace;
    font-size: 14px;
    color: gray;
}

#pfp-image-container {
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    transform: translate(-47%, 0%);
}

#pfp-image-container img {
    width: 410px;
    height: 400px;
    position: absolute;
}
