body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: #ffffff
}

h4 {
    margin-top: 0;
}

.page-break {
    margin-top: 70px;
    height: 0;
    border: 1px solid gray;
}

/* ======= */

header {
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle, #818181 0%, #343434 70%);
    width: 100%;
    display: flex;
    justify-content: center;
}

#title {
    margin: 35px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #eeeeee;
}

#title:hover {
    text-decoration: underline;
}

#pfp-container {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    transform: translate(-50%, 0%);
}

.pfp {
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 15px;
}

/* ======= */

nav {
    display: flex;
    flex-direction: row;
    z-index: 1000;
    top: 0;
    position: sticky;
    background: #282828;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.nav-a {
    margin: 7px;
    padding: 5px 25px;
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-a:hover {
    text-decoration: underline;
}

.nav-center {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
}

.nav-left .nav-right {
    flex-shrink: 0;
}

.nav-left:hover {
    text-decoration: none;
}

.nav-right {
    text-align: center;
}

@media (max-width: 900px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-center {
        flex-direction: column;
        align-items: center;
        gap: 0.0rem;
    }

    .nav-left, .nav-right {
        margin: 5px 0;
    }
}

/* ======= */

section {
    width: 70%;
    max-width: 900px;
    padding: 40px;
    text-align: justify;
    font-size: 14px;
}

section ul li {
    margin-bottom: 15px;
}

section a {
    color: black;
    text-decoration: underline;
}

section a:hover {
    color: #484848;
    text-decoration: underline;
}

.section-title  {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.section-title:hover {
    color: black;
    text-decoration: underline;
}

/* ======= */

.blog-post {
    width: 90%;
    margin-top: 27px;
}

.blog-post-header {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.blog-post-header:hover {
    color: black;
    text-decoration: underline;
}

.blog-toc-section {
    margin-top: 0;
}

.blog-toc {
    color: black;
    text-decoration: none;
}

.blog-toc:hover {
    color: black;
    text-decoration: underline;
}

.substantial-blog {
    font-weight: bold;
    font-style: italic;
}

/* ======= */

footer {
    width: 100%;
    padding: 13px;
    text-align: center;
    font-weight: bold;
    background: #2c2c2c;
    height: fit-content;
    color: #eeeeee;
}
